#leo{
    height: 500px;
    width: 300px;
    border: 5px solid black;
    border-radius: 20px;
    
}

.quote{
    margin-top: 30px;
    text-align: center;
    margin-left: 400px;
}

body{
    background-color: black;
}

.name{
    text-decoration: wavy;
    color: aliceblue;
    margin-left: 40px;
    text-align: center;
}